* {
  margin: 0;
  padding: 0;
}

body {
  background: gainsboro;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.App1
{
  background: white;
}

.form {
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
}

.form .form__custom-button {
  margin-top: 50px;
}


.forms {
  max-width: 530px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
}

.forms .form__custom-button {
  margin-top: 50px;
}
